body { padding: 0; margin: 0 }
#app-main-wrap { padding:0; margin : 0 }
#header { background-color: rgba(43,94,140,.85); margin: 0; padding: 5px; top:0 !important; left:0 !important; width:100% !important; color: #fff; }
#header .x-panel-body-default { background-color: transparent; height: 60px }
#header .title { background:transparent url(/images/speedometer.png) no-repeat; padding-left:95px; color:#fff  }
#header .title-text { font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size:24px }
#header .subtitle-text { text-transform: capitalize; font-size:16px; font-family: Courier New, Courier, monospace;  line-height: 1.7em; padding-left:10px; }
#header .ux-link { padding:10px; color:#fff; }
#tabPanelMain { margin-top: -8px }
.x-tab-bar-body { padding-left: 5px !important;} /* add padding for first tab */

.tblTestRunDetails { font-size: 14px; }
.tblTestRunDetails th { text-align: right; padding-right:5px }
.currentColumn { color: blue }
.arrow-ug { width: 16px; height:14px; background:url(/images/icons/arrow-ug.png) no-repeat }
.arrow-dr { width: 16px; height:14px; background:url(/images/icons/arrow-dr.png) no-repeat }
#legend { font-size:14px; border: 1px solid #eee; margin-left:20px}
#legend th { text-align:left}
#extLegend { font-size:12px; border: 1px solid #eee; }
#extLegend th { text-align:left}
.tblTestRunDetailsExt { font-size: 12px; }
.tblTestRunDetailsExt th { text-align: right; padding-right:5px }
.icon-download { background-image:url(/images/icons/download.png) !important;}
.icon-save { background-image:url(/images/icons/save.png) !important;}
.icon-refresh { background-image:url(/images/icons/table_refresh.png) !important;}
.icon-compare { background-image:url(/images/icons/compare.png) !important;}
.icon-delete { background-image:url(/images/icons/delete.gif) !important;}
.icon-trend { background-image:url(/images/icons/trend_up.png) !important;}
.icon-grid { background-image:url(/images/icons/grid.png) !important;}
.icon-share { background-image:url(/images/icons/share.png) !important;}
.icon-link { background-image:url(/images/icons/link.png) !important;}
.icon-wiki { background-image:url(/images/icons/confluence.png) !important;}
.icon-close { background-image:url(/images/icons/cross.gif) !important;}
.icon-advanced-report { background-image:url(/images/icons/advanced-report.png) !important;}
/*.titleContent { height:50px; padding:10px; background-color:#157fcc; font-size:24px; font-weight:bold; border:1px solid #4d90fe; color:#eee }*/
.titleContent { height:50px; padding:10px; font-size:24px; font-weight:bold;  color:#04408c }
.x-border-layout-ct, div.x-border-layout-ct { background-color: #fff; }
.tbl-load-test-details th, td { text-align:left; vertical-align: top }
.tbl-load-test-details .col2 { padding-left:15px; }

#msg-div {
    position:absolute;
    left:35%;
    top:10px;
    width:300px;
    z-index:20000;
}
#msg-div .msg {
    border-radius: 8px;
    -moz-border-radius: 8px;
    background: #F6F6F6;
    border: 2px solid #ccc;
    margin-top: 2px;
    padding: 10px 15px;
    color: #555;
}
#msg-div .msg h3 {
    margin: 0 0 8px;
    font-weight: bold;
    font-size: 15px;
}
#msg-div .msg p {
    margin: 0;
}
.notify-success {
    background:#EEF3E2;
    border: 2px solid lightgreen;
}
.notify-error {
    background:#F08080;
    border: 2px solid red;
}


/* --- SLAs --- */
.sla-pass { background: #66CD00; color:#fff; padding:2px;}
.sla-warning { background:#F4A460; padding:2px;}
.sla-fail { background: #F08080; padding:2px;}
.sla-missing { background: #D6D6D6; padding:2px;}


/* set text in grids to vertically align middle */
.x-grid-td { vertical-align: middle; }