/*
 * This file defines variables used throughout the application for modern and
 * classic builds.
 */

.shadow {
    @include box-shadow(0 1px 2px 0 rgba(0, 0, 0, 0.2));
}

.nav-tree-badge:after {
    position: absolute;
    height: 18px;
    width: 3.3em;
    display: inline-block;
    text-align: center;
    top: 50%;
    margin-top: -9px;
    right: 12px;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 18px;
}

.nav-tree-badge-hot:after {
    content: "HOT";
    background-color: #e3495a;
}

.nav-tree-badge-new:after {
    content: "NEW";
    background-color: $color-soft-blue;
}

.pop-out {
    @include box-shadow(2px 2px 8px 2px #ccc);
}

.circular {
    border-radius: 50%;
}

$circle-border-radius:50%;
$base-border-color: #ddd;
$lightest-color:#fff;
$font-weight: 400;
$font-weight-bold: 500;
$accordion-header-background-color: $lightest-color;
$accordion-header-color: #333;
$social-facebook-btn-background: #167abc;
$social-twitter-btn-background: #03b4d5;
$social-google-plus-btn-background: #e44959;
$social-envelope-btn-background: #7754aa;
@include treelist-ui( $ui: 'navigation', $padding: 0 10px, // Black-ish background color
$background-color: $panel-navigation-background-color, $toolstrip-background-color: #32404e, $tool-float-indicator-color: $panel-header-background-color, $tool-float-indicator-width: 5px, $tool-indicator-selected-color: $panel-header-background-color, $tool-indicator-selected-width: 5px, $tool-selected-background-color: mix(white, $panel-navigation-background-color, 10%), //$tool-selected-color: #fff,
//$tool-selected-background-color: $panel-header-background-color,
// Darker background for expanded subtrees
$item-expanded-background-color: #2c3845, // Taller line height
$item-line-height: $panel-navigation-item-line-height, $row-over-background-color: mix(white, $panel-navigation-background-color, 5%), $row-selected-background-color: mix(white, $panel-navigation-background-color, 10%), // Off-white text
$item-icon-color: $panel-navigation-item-text-color, $item-expander-color: #fff, $item-text-color: #ADB3B8, // Brighter when hovered
$item-icon-over-color: #fff, $item-expander-over-color: #fff, $item-text-over-color: mix(white, $panel-navigation-item-text-color, 50%), $item-text-font-size: 14px, // Various sizes for the pieces:
$item-icon-font-size: 18px, $item-icon-width: 44px, $item-expander-font-size: 16px, $item-expander-width: 24px, // Style the "row indicator" (the vertical stripe on the left edge):
$row-indicator-width: 5px, $row-indicator-selected-color: $panel-header-background-color, $row-indicator-selected-over-color: lighten($panel-header-background-color, 7%), $row-indicator-over-color: transparent);
//--------------------------------------------------------
// Create classes for full-size responsive items
.big-100 {
    @include responsivecolumn-item(100%);
}

.big-60 {
    @include responsivecolumn-item(60%);
}

.big-50 {
    @include responsivecolumn-item(50%);
}

.big-40 {
    @include responsivecolumn-item(40%);
}

.big-33 {
    @include responsivecolumn-item(33.33%);
}

.big-20 {
    @include responsivecolumn-item(20%);
}

//--------------------------------------------------------
// And classes for small-size responsive items
.x-responsivecolumn-small {
    >.small-100 {
        @include responsivecolumn-item(100%);
    }
    >.small-50 {
        @include responsivecolumn-item(50%);
    }
}

//--------------------------------------------------------
.opp-logo {
    background-color: $base-color;
    height: 65px;
    color: $lightest-color;
    margin-left: 17px;
    .main-logo {
        font-size: 32px;
        line-height: 65px;
        img {
            height: 20px;
            margin-left: 22px;
            margin-right: 22px;
            top: 8px;
            position: relative;
        }
    }
}

.top-english-button {
    .x-btn-icon-el {
        width: 21px;
        height: 14px;
    }
}

.collapsed {
    .hot-icon,
    .new-icon {
        &:after {
            display: none;
        }
    }
    .x-tree-elbow-img {
        display: none;
    }
    .x-tree-node-text {
        display: none;
    }
}

.x-grid-cell {
    position: relative;
}

.hot-icon,
.new-icon {
    &.hot-icon:after {
        content: "HOT";
        background: #e3495a;
    }
    &.new-icon:after {
        content: "NEW";
        background: $base-color;
    }
    &:after {
        height: 18px;
        width: 34px;
        display: inline-block;
        position: absolute;
        top: 22px;
        right: -180px;
        text-align: center;
        color: $lightest-color;
        font-weight: bold;
        font-size: 10px;
        line-height: 18px;
    }
}

.x-treelist-item-tool {
    height: $panel-navigation-item-line-height;
    &.hot-icon:after,
    &.new-icon:after {
        background: $panel-header-background-color;
        content: '';
    }
}

//.toolbar-btn-shadow{
//    @include box-shadow(0 1px 2px rgba(0, 0, 0, 0.2));
//    .x-btn-over{
//        background-color: $button-toolbar-hover-background-color;
//    }
//}
//Add border around html editor field
.x-html-editor-input {
    border: 1px solid #ccc;
}

.x-body {
    color: #404040;
    font-size: 13px;
    line-height: 17px;
    font-family: 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    background: #f6f6f6;
}

.x-viewport,
.x-viewport>.x-body {
    margin: 0;
    padding: 0;
    border: 0 none;
    overflow: hidden;
    position: static;
    touch-action: none;
    -ms-touch-action: none;
}

.toolbar-btn-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.x-toolbar-default {
    padding: 6px 0 6px 8px;
    border-style: solid;
    border-color: #d0d0d0;
    border-width: 1px;
    background-image: none;
    background-color: #fff;
}

.opp-dash-dash-headerbar {
    padding: 0 30px 0 0;
    position: fixed;
    width: 100%;
    z-index: 10;
    border: none;
    .header-right-profile-image {
        border-radius: 20px;
    }
    -webkit-box-shadow:0px 2px 2px -2px #aaa;
    -moz-box-shadow: 0px 2px 2px -2px #aaa;
    box-shadow: 0px 2px 2px -2px #aaa;
}

//----------------------------
// widgets
$widget-first-container-background: #468fd3;
$widget-second-container-background: #8dc153;
$widget-third-container-background: #607d8b;
$follow-button-color : #82c748;
$follower-toolbar-background: #fafafa;

$sale-container-color: #458fd2;
$message-container-color: #4caf50;
$code-container-color: #9c27b0;
$user-container-color: #e91e63;
$server-container-color: #ffc107;
$file-container-color: #673ab7;

$FAQ-sub-header-color: #333;

$FAQ-tip-list-color-1: #56b650;
$FAQ-tip-list-color-2: #ffc037;
$FAQ-tip-list-color-3: #e55149;
$FAQ-tip-list-color-4: #a97fe3;


.widget-top-first-container{
    background-color: $widget-first-container-background;
}
.widget-bottom-first-container{
    background-color: $lightest-color;
}
.postion-class{
    position:relative;
}
.widget-name-text{
    font-family: "Open Sans";
    font-weight: Bold;
    font-size: 16px ;
    line-height:16px;
}
.widget-tool-button{
    .widget-follow-button, .widget-follow-button .x-frame-mc{
        @include btn-border($follow-button-color);
    }
    .widget-message-button, .widget-message-button .x-frame-mc{
        @include btn-border($base-color);
    }
    .x-btn-inner-default-toolbar-small{
        color: $lightest-color;
    }
}
.widget-top-container-first-img{
    position: absolute;
    z-index: 200;
    margin-top:94px;
    border: 3px solid $lightest-color;
    @include border-radius(36px);
    left: 50%;
    margin-left: -33px;
}
.widget-top-second-container{
    background-color: $widget-second-container-background;
}
.widget-top-first-third-container {
    background-color: $widget-third-container-background;
}

.widget-top-first-fourth-container {
    background:url('images/img2.jpg');
    background-size:100% auto;
}
.widget-top-second-panel .x-fa{
    color: $lightest-color;
}

.widget-follower-toolbar{
    background-color: $follower-toolbar-background;
    font-size:12px;
    padding:0 ;
    text-align:center;
    border-top:1px solid $base-border-color;
    border-bottom:1px solid $base-border-color;
    .x-form-display-field{
        font-size:13px;
        color: $FAQ-sub-header-color;
        font-family: "Open Sans";
    }
    .x-form-display-field .label{
        color: $color;
        font-size: 12px;

    }
    .widget-follower-tool-label{
        border-left:1px solid $base-border-color;
        border-right:1px solid $base-border-color;
    }
}

.info-card-item{
    text-align: center;
    background: $lightest-color ;
    padding:45px 10px !important;
    font-size: 24px;

     &.info-card-large-wrap{
        h2{
            font-size: 48px;
            line-height: 48px;
        }
        span.x-fa {
            height: 75px;
             width: 75px;
            border-radius: 38px;
            color: $lightest-color;
            font-size: 30px;
            line-height: 75px;
            margin: 15px 0;

            &.fa-shopping-cart {
                background-color: $sale-container-color;
            }
            // &.fa-envelope {
            //     background-color: $message-container-color;
            // }
            // &.fa-code {
            //     background-color: $code-container-color;
            // }
            &.fa-bar-chart {
                background-color: $message-container-color;
            }
            &.fa-tachometer {
                background-color: $code-container-color;
            }
            &.fa-file-text {
                background-color: $user-container-color;
            }
        }
        .infodiv{
            font-size: 14px;
            line-height: 16px;
        }
    }
    &.cornflower-blue:before {
        background: $sale-container-color;
    }
    &.green:before {
        background: $message-container-color;
    }
    &.magenta:before {
        background: $code-container-color;
    }
    &.pink:before {
        background: $user-container-color;
    }
    &.orange:before {
        background: $server-container-color;
    }
    &.blue:before {
        background: $file-container-color;
    }
    h2{
        font-size: 30px;
        font-weight: normal;
        margin: 0;
        margin:0;
        line-height: 32px;
    }
    div{
        line-height: 24px;
    }
    span{
        font-size: 24px;
        line-height: 24px;
    }

}
.info-card-item:before{
    width:100%;
    position:absolute;
    height:3px;
    content:"";
    top:0;
    left:0
}

// end of widgets
// ---------------------------



//UI Styles for buttons
@include extjs-button-small-ui( $ui: 'soft-blue', $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-large-ui( $ui: 'soft-blue', $line-height: 34px, $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-blue', $background-color: $color-soft-blue, $border-color: darken($color-soft-blue, 5%));
@include extjs-button-small-ui( $ui: 'facebook', $background-color: $social-facebook-btn-background, $border-color: darken($social-facebook-btn-background, 5%));
@include extjs-button-large-ui( $ui: 'facebook', $line-height: 34px, $background-color: $social-facebook-btn-background, $border-color: darken($social-facebook-btn-background, 5%));
@include extjs-button-small-ui( $ui: 'soft-cyan', $background-color: $color-soft-cyan, $border-color: darken($color-soft-cyan, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-cyan', $background-color: $color-soft-cyan, $border-color: darken($color-soft-cyan, 5%));
@include extjs-button-small-ui( $ui: 'soft-green', $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-large-ui( $ui: 'soft-green', $line-height: 34px, $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-green', $background-color: $color-soft-green, $border-color:darken($color-soft-green, 5%));
@include extjs-button-small-ui( $ui: 'soft-red', $background-color: $color-soft-red, $border-color:darken($color-soft-red, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-red', $background-color: $color-soft-red, $border-color:darken($color-soft-red, 5%));
@include extjs-button-small-ui( $ui: 'soft-purple', $background-color: $color-soft-purple, $border-color:darken($color-soft-purple, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'soft-purple', $background-color: $color-soft-purple, $border-color:darken($color-soft-purple, 5%));
@include extjs-button-small-ui( $ui: 'gray', $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-large-ui( $ui: 'gray', $line-height: 34px, $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'gray', $background-color: $color-gray, $border-color:darken($color-gray, 5%));
@include extjs-button-small-ui( $ui: 'green', $background-color: $color-green, $border-color:darken($color-green, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'green', $background-color: $color-green, $border-color:darken($color-green, 5%));
@include extjs-button-small-ui( $ui: 'blue', $background-color: $color-blue, $border-color:darken($color-blue, 5%));
@include extjs-button-toolbar-small-ui( $ui: 'blue', $background-color: $color-blue, $border-color:darken($color-blue, 5%));
@include extjs-button-small-ui( $ui: 'header', $color: #999, $glyph-color: #919191, $background-color: transparent, $border-width: 0);